.container-fluid{
    
    background: rgb(255,255,255);
    width: 600px;
    height: 530px;
    margin-left: 350px;
    line-height: 43px;
    text-align: center;
    border: 1px solid rgb(0,0,0);
   
}
.form-group{
  text-align: left;
  padding-left: 10px;
 
}
.control-label{
 padding-right:  10px;
}
.form-control{
    width: 550px;
    height: 25px;
    
}

.custom-select{
    width: 550px;
    margin-left:10px;
    height: 25px;
}

#save{
    background:  rgb(3, 124, 251);
    
}
input[type="button"]{
    position: relative;
    left: 500px;
   
}


#user{
    padding-left: 10px;
}

.form-control1{
    width: 550px;
    height: 25px;
    margin-left: 10px;
    
}
.form-control2{
    width: 550px;
    height: 25px;
    margin-left: -10px;
    text-align: center;
    
}
